* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: white;
}

body {
  background-color: black;
}

.navbar {
  background-color: #1a1919;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-bottom: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: row;
}

.nav-list li h4 {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.888);
  text-align: center;
  padding: 14px 11px;
  border-radius: 10px;
  cursor: pointer;
}

.nav-list li a {
  display: block;
  text-decoration: none;
  padding: 14px 11px;
  border-radius: 10px;
}

.nav-list li h4:hover {
  background-color: #111;
  transition: 0.8s;
}

.dropdown {
  overflow: hidden;
  float: left;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content a {
  display: none;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #333;
  border-radius: 10px;
}

.carros {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 100px;
}

.car-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.car-card {
  max-width: 400px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  padding: 20px;
}

/* .car-card:hover {
  scale: 1.05;
} */

.car-card img {
  width: 320px;
  height: 350px;
  border-radius: 20px;
}

.car-info {
  margin-top: 10px;
}

.car-shop {
  margin-top: 10px;
  background-color: #f7d354;
  cursor: pointer;
  width: 100%;
  padding: 10px 0px 10px;
  border-radius: 14px;
  border: 100px;
  border-color: #111;
}

.car-shop:hover {
  background-color: rgba(42, 44, 45, 0.781);
}

.car-shop i.fa-shopping-cart {
  color: rgba(42, 44, 45, 0.781);
}

.car-shop:hover i.fa-shopping-cart {
  color: #f7d354;
}

.rodape {
  background-color: #1a1919;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 325px;
}

.contatos {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contatos-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  color: white;
}

.contatos li {
  float: left;
}

.contatos li {
  float: left;
}

.contatos li a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 10px 11px;
}

.contatos li a:hover {
  color: #f7d354;
}

.trendycar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 84%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #f7d354;
  border-radius: 10px;
}

.gif-container {
  width: 1700px;
  /* Largura desejada para o retângulo */
  height: 400px;
  /* Altura desejada para o retângulo */
  position: relative;
  /* Permite posicionar elementos filhos em relação a este elemento */
  overflow: hidden;
  /* Oculta qualquer conteúdo que transborde do retângulo */
  margin: 0 auto;
  /* Centraliza o retângulo horizontalmente */

  border-radius: 10px;
}

.gif {
  width: 100%;
  /* Garante que o GIF ocupe todo o espaço do retângulo */
  height: 100%;
  /* Garante que o GIF ocupe todo o espaço do retângulo */
  object-fit: cover;
  /* Redimensiona o GIF para preencher o retângulo */
}

.secmain p {
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
  border: 4px double rgba(0, 0, 0, .25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  color: black;
  text-align: center;
  position: absolute;
  width: 40em;
  top: 18%;
  left: 50%;
  margin: 0 0 0 -20em;
}

.secmain p .span {
  font: 700 4em "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, .5);

  background: url("animated-text-fill.png") repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}