@media screen and (max-width: 1366px) {
    .carros {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Distribui os carros uniformemente nas fileiras */
    }
    
    .car-section {
        width: calc(33.33% - 20px); /* 33.33% para três carros por fileira e margem direita */
        margin-right: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    

.car-info {
    position: relative;
}

.car-info i.fa-shopping-cart {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px; /* Espaço entre o ícone e o texto */
    font-size: 16px; /* Tamanho do ícone */
}



    .navbar {
        padding: 5px 0;
        text-align: center;
    }

    .nav-list {
        float: none;
        text-align: center;
    }

    .nav-list li {
        display: inline-block;
        float: none;
        margin-right: 10px;
    }

    .nav-list .dropdown a {
        padding: 5px 11px;
    }

    .contatos {
        padding: 5px 0;
        text-align: center;
    }

    .contatos-list {
        float: none;
        text-align: center;
    }

    .contatos-list li {
        display: inline-block;
        float: none;
        margin-right: 10px;
    }

    .contatos ion-icon {
        color: white;
    }

    /* Estilos para o botão de voltar ao topo */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.scroll-to-top a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.scroll-to-top a:hover {
    background-color: #111;
}

}



@media screen and (max-width: 768px) {
    .navbar {
        padding: 3px;
        text-align: center;
    }

    .nav-list {
        float: none;
    }

    .nav-list li {
        display: inline-block;
        float: none;
        margin-right: 10px;
    }

    .carros {
        flex-wrap: wrap;
    }

    .carro {
        width: calc(50% - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
    }
}


.carro {
    display: none;
}

.bmw .bmw,
.volks .volks,
.fiat .fiat,
.toyota .toyota,
.ford .ford,
.jeep .jeep {
    display: block;
}

/* Estilos para o botão de voltar ao topo */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.scroll-to-top a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.scroll-to-top a:hover {
    background-color: #111;
}
